# Handling Duplicate Rows

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('f:/dataset/analysis/weather_data2.txt')
df.drop_duplicates() #it will consider all colms

         day  temperature  windspeed     event
0   1/1/2017           32          6      Rain
1   1/4/2017       -99999          9     Sunny
2   1/5/2017           28     -99999      Snow
3   1/6/2017       -99999          7  No event
4   1/7/2017           32     -88888      Rain
5  1/11/2017           40         12  No event

In [4]:
df.drop_duplicates(subset=['temperature']) #it will consider only given cols

         day  temperature  windspeed     event
0   1/1/2017           32          6      Rain
1   1/4/2017       -99999          9     Sunny
2   1/5/2017           28     -99999      Snow
5  1/11/2017           40         12  No event

In [16]:
from scipy import stats
import numpy as np

In [17]:
#two tail T-test independent
group1=[55,75,50,60,58,65]
group2=[54,10,52,60,56,20]
print(np.mean(group1))
print(np.mean(group2))

null_hyp="there is no significance difference in the mean(avg) recovery time of both groups"
alt_hyp="there is significance difference in the mean(avg) recovery time of both groups"
svalue,pvalue=stats.ttest_ind(group1,group2)
if pvalue<=.05:
    print(alt_hyp)
else:
    print(null_hyp)

60.5
42.0
there is no significance difference in the mean(avg) recovery time of both groups

In [18]:
x=[3,2,6,9,1]
np.mean(x)

4.2

In [19]:
svalue

1.9685678761275431

In [20]:
pvalue

0.07732820760782853

In [23]:
#two tail T-test Paired
before=[2,2.5,1.5,4,3.5,5.5]
after=[4.2,4.5,3,4,6,8]
print(np.mean(before))
print(np.mean(after))

null_hyp="there is no significance difference in the mean(avg) IQ level before and after"
alt_hyp="there is significance difference in the mean(avg) IQ level before and after"
svalue,pvalue=stats.ttest_rel(before,after)
if pvalue<=.05:
    print(alt_hyp)
else:
    print(null_hyp)

3.1666666666666665
4.95
there is significance difference in the mean(avg) IQ level before and after

In [26]:
#one tail T-test 1 sample
s=[25,28,18,90,20,23]
print(np.mean(s))
null_hyp="there is no difference"
alt_hyp="there is a difference"
svalue,pvalue=stats.ttest_1samp(s,40)
if pvalue<=.05:
    print(alt_hyp)
else:
    print(null_hyp)

34.0
there is no difference